html, body {
    margin: 0px;
    padding: 0px;
    -ms-overflow-style: none; /* Hides scrollbar on IE and Edge */
    scrollbar-width: none; /* Hides scrollbar on Firefox */
}

/* Hides scrollbar on WebKit browsers like chrome */
html::-webkit-scrollbar {
    display: none;
}
#parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 97vh;
    overflow: hidden;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#camera-input {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 45vh;
    height: auto;
    border: 5px solid #808080;
    box-sizing: border-box;
}

#camera {
    height: 100%;
    max-width: 85vw;
    width: 320px;
}

#draw-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 3vh;
    background-color: rgb(66, 66, 66);
}

#footer p {
    color: white;
    margin: 0px;
}