html, body {
    margin: 0px;
    padding: 0px;
    -ms-overflow-style: none; /* Hides scrollbar on IE and Edge */
    scrollbar-width: none; /* Hides scrollbar on Firefox */
}

/* Hides scrollbar on WebKit browsers like chrome */
html::-webkit-scrollbar {
    display: none;
}
#parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 97vh;
    overflow: hidden;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2vw 2vw 2vw;
}

#header h1 {
    /* font-size: 2vw; */
    margin-bottom: 2vh;
    text-align: center;
}

#header p {
    margin: 0;
    text-align: center;
}

#camera-input {
    position: relative;
    display: flex;
    justify-content: center;
    width: 640px;
    max-width: 80vw;
    height: auto;
    border: 5px solid #808080;
    background-color: #808080;
    box-sizing: content-box;
}

#camera {
    height: 100%;
    max-width: 80vw;
    width: 640px;
    transform: scaleX(-1);
}

#draw-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    /* background-color: lightcoral; */
}

#cv-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 1vw;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
}

#right-hand-result {
    text-align: left;
}

#count-result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

#count-result p {
    margin: 0;
    font-size: 7vw;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 3vh;
    background-color: rgb(66, 66, 66);
}

#footer p {
    color: white;
    margin: 0px;
}